/* style */
.RichEditor-style-block__focus {
  border-radius: 2px;
  box-shadow: 0 0 5px 1px rgb(87, 163, 255);
}

.RichEditor-style-block__label {
  border-radius: 2px;
  padding: 0 4px;
  margin: 0 4px;
  color: #666;
  background-color: #f1f1f1;
  cursor: default;
}

.RichEditor-style-block__label__highlight {
  background-color: '#ffeb22'
}