/* toolbar */
.RichEditor-toolbar {
  padding: 7px 20px;
  border-bottom: 1px solid #ddd;
  // background-color: @toolbar-bg-color;
  font-family: system, -apple-system, 'PingFang SC', 'Segoe UI', 'Microsoft YaHei',
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  user-select: none;
}

.RichEditor-toolbar-group {
  display: inline-block;

  & + .RichEditor-toolbar-group::before {
    content: '';
    display: inline-block;
    border-right: 1px solid @toolbar-divide-line;
    margin: 0 5px;
    height: 20px;
    vertical-align: middle;
  }
}

.RichEditor-toolbar-button {
  display: inline-block;
  padding: 7px;
  border: 1px solid transparent;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  color: @toolbar-button-text-color;
}
.RichEditor-toolbar-button + .RichEditor-toolbar-button,
.RichEditor-toolbar-button__wrapped {
  margin-left: 2px;
}

.RichEditor-toolbar-button__active {
  color: @toolbar-button-text-color-active;
  background-color: @toolbar-button-bg-color-active;
}

.RichEditor-toolbar-button:hover {
  background-color: @toolbar-button-bg-color-hover;
}

.RichEditor-toolbar-button__active,
.RichEditor-toolbar-button__active:hover,
.RichEditor-toolbar-button:hover {
  border-color: @border-color;
}

// addImage
.RichEditor-toolbar__add-image {
  display: inline-block;
  position: relative;
}

.RichEditor-toolbar__add-image__upload {
  input {
    display: none;
  }
}

.RichEditor-toolbar__add-image__link__popover {
  .RichEditor-popover-inner {
    width: 250px;
    height: 36px;
    display: flex;
    box-sizing: border-box;
  }
  .add-image-link__input {
    flex: 1 1 0;
    border: none;
    padding: 10px;
    color: #666;

    &:focus {
      outline: 0;
      border-color: #999;
    }
  }
  .add-image-link__button {
    width: 36px;
    line-height: 36px;
    background-color: #f6f6f6;
    color: #888;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #444;
      background-color: #ececec;
    }
  }
  .add-image-link__confirm-button {
  }
}

// color-picker
.RichEditor-toolbar__color-picker {
  display: inline-block;
  position: relative;

  .color-picker_indicator {
    width: 100%;
    height: 2px;
  }
}

.RichEditor-toolbar__color-picker__popover {
  .RichEditor-popover-inner {
    overflow: hidden;
    padding: 15px 10px 10px 15px;
    width: 110px;
  }
  .color-picker__item {
    float: left;
    display: block;
    margin: 0 7px 7px 0px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    &:hover,
    &.color-picker__item__active {
      box-shadow: 0 1px 3px #888;
    }
  }
}

// font-size-changer
.RichEditor-toolbar__font-size-changer {
  display: inline-block;
  position: relative;
}

.RichEditor-toolbar__font-size-changer__popover {
  .RichEditor-popover-inner {
    overflow: hidden;
    padding: 5px 0;
    width: 104px;
  }
  .font-size-changer__item {
    display: block;
    padding: 5px 20px;
    color: @editor-text-color;
    cursor: pointer;
    &:hover {
      background-color: #f6f6f6;
    }
    &.font-size-changer__item__active {
      background-color: #ececec;
    }
  }
}
