/* toolbar */
.RichEditor-toolbar {
  font-family: system, -apple-system, 'PingFang SC', 'Segoe UI', 'Microsoft YaHei',
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  user-select: none;
}

.RichEditor-toolbar-group {
  display: inline-block;

  & + .RichEditor-toolbar-group::before {
    content: '';
    display: inline-block;
    border-right: 1px solid #e6e6e6;
    margin: 0 5px;
    height: 20px;
    vertical-align: middle;
  }
}

.RichEditor-toolbar-button {
  display: inline-block;
  padding: 7px;
  border: 1px solid transparent;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  color: #888;

  & + .RichEditor-toolbar-button {
    margin-left: 2px;
  }
}

.RichEditor-toolbar-button__active {
  color: #444;
  background-color: #f9f9f9;
}

.RichEditor-toolbar-button:hover {
  background-color: #fcfcfc;
}

.RichEditor-toolbar-button__active,
.RichEditor-toolbar-button__active:hover,
.RichEditor-toolbar-button:hover {
  border-color: #ddd;
}

// addImage
.RichEditor-toolbar__add-image {
  display: inline-block;
  position: relative;
}
.RichEditor-toolbar__add-image__button {
}
.RichEditor-toolbar__add-image__button__active {
  filter: opacity(0.5);
}
.RichEditor-toolbar__add-image__popover {
  .RichEditor-popover();
  top: 100%;
  margin-top: 25px;
  width: 250px;
  height: 36px;
  display: flex;
  box-sizing: border-box;
  transform-origin: top center;
  &::before {
    .RichEditor-popover-arrow-shadow();
    .RichEditor-popover-arrow-shadow__top();
  }
  &::after {
    .RichEditor-popover-arrow();
    .RichEditor-popover-arrow__top();
  }
}
.RichEditor-toolbar__add-image__input {
  flex: 1 1 0;
  border: none;
  padding: 10px;
  color: #666;

  &:focus {
    outline: 0;
    border-color: #999;
  }
}

.RichEditor-toolbar__add-image__confirm-button {
  width: 36px;
  line-height: 36px;
  background-color: #f6f6f6;
  color: #888;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: #444;
    background-color: #ececec;
  }
}
