// editor
@editor-text-color: #3b3e44;

// toolbar
@toolbar-bg-color: #fafafa;


// border
@toolbar-divide-line: #e6e6e6;
@border-color: #ddd;

// button
@button-arrow-color: #aaa;
@button-text-color: #333;
@button-bg-color-active: #ececec;
@button-bg-color-hover: #f3f3f3;
