// editor
@editor-text-color: #3b3e44;

// toolbar
@toolbar-bg-color: #fafafa;
@toolbar-button-text-color: #333;
@toolbar-button-bg-color-active: #ececec;
@toolbar-button-bg-color-hover: #f3f3f3;
@toolbar-button-arrow-color: #aaa;

// border
@toolbar-divide-line: #e6e6e6;
@border-color: #ddd;